/* the styles for the HTML elements */
html {
	background-color: rgb(192, 192, 192);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 760px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
}

header {
	background-color: #63326E;
	border-bottom: 3px solid #984447;
	padding: 0.5em;
}

header h1 {
	color: #9AD2CB;
}

nav {
	border-bottom: 3px solid #984447;
	background-color: #9AD2CB;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #63326E;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #68AFA6;
}

main {
	padding-left: 0.5em;
	padding-right: 3.0em;
	padding-bottom: 2.0em;
}

footer {
	background-color: #63326E;
	clear: both;
	border-top: 2px solid #984447;
	padding-right: 1.0em;
}

footer p {
	text-align: right;
	font-size: 80%;
	color: #9AD2CB;
}

h1 {
	font-size: 175%;
	margin: .5em 0;
}

h2 {
	font-size: 120%;
	margin: .25em 0 .5em;
}

h3 {
	font-size: 100%;
	margin: .25em 0 .5em;
}

h1, h2 {
	color: #63326E;
}

main ul {
	list-style-type: none;
	padding-bottom: 0.2em;
}

main li {
	padding-bottom: 0.2em;
}

.book_title_link {
	background-color: #C6B4CA;
	padding-left: 1.0em;
	padding-top: 0.5em;
}

.book_info {
	background-color: #E2D9E4;
	padding-left: 2.0em;
	padding-top: 0.5em;
}

main a {
	color: #476C9B;
	font-weight: bold;
}

main a:hover {
	color: rgb(208, 133, 4);
}

input[type=submit] {
  background-color: #984447;
  border: none;
  font-size: medium;
  color: #9AD2CB;
  padding: 8px 16px;
  margin-top: 1.0em;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #BA6769;
}

.review {
	font-style: italic;
}

.rating {
	font-weight: bold;
	color: red;
}

.average_stars {
	font-style: italic;
	font-size: small;
	color: #409085;
}

.review_date {
	font-style: italic;
	font-size: small;
}

.copyright {
	float: right;
}

.error_message {
	padding-left: 2.0em;
	color: red;
}